/*背景map*/
  .map{
  position: fixed;
  user-select: none;
  pointer-events: none;
   
  width: 160%;
  top: 300px;
  left: 700px;

  transform: translate(100%, 100%);
  transition: transform 0.1s ease-out; /* Slow movement for smooth effect */
  will-change: transform; /* Optimizes for animations */

  z-index:-2;
}

/*背景grid*/
.grid{
  position: fixed;
  user-select: none;
  pointer-events: none;
   
  width: 130%;
  top: 33%;
  left: 50%;

  transform: translate(50%, 50%);
  transition: transform 0.1s ease-out; /* Slow movement for smooth effect */
  will-change: transform; /* Optimizes for animations */
  
  z-index:-1;
}
  
/*フレーム*/
.frame{
  position: absolute;
  user-select: none;
  pointer-events: none;
  
  width: 101%;
  height: 101%;
  top: 0px;
  left: 0px;
  
  z-index:1;
}
  
/*左上の円で使うアニメの設定*/
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
/*左上の円*/
.rogo_circle{
    position: relative;

    height: 100%;

    margin-left: -80px;
    margin-top: -80px;
    filter: drop-shadow(2px 2px 2px rgba(140, 140, 140, 0.5));
    
    animation-name: rotateRight; /* アニメーション名 */
    animation-duration: 15s; /* 一周するのに要する時間 */
    animation-timing-function: linear; /* アニメーションの速度カーブ */
    animation-iteration-count: infinite; /* アニメーションの繰り返し回数 (無限) */
    transform-origin: center; /* 回転の中心点 */

    z-index:3;
}
  
/*左上のイヌ*/
.hachi{
    position: absolute;
    user-select: none;
    pointer-events: none;
  
    margin-left: 30px;
    margin-top:20px;

    height:100px;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    z-index:2;
}

/*質問入力フォーム*/
.chat-form{
  position: absolute;
  z-index: 10;
}

/*画像入力部*/
.img_form{
  position: absolute;
  z-index: 10;
}


/*入力欄の背景画像*/
.form_part{
    position: absolute;


    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  
    z-index:0;
}
  
/*フォーム背景画像*/
.form{
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
  
/*フォーム白部分*/
.chat-form{
  border: 0px;
  outline: 0px;
  
  width: 500px;
  height: 200px;
  
  border-radius:50.5px;
  
  top: 623px;
  left: 505px;
  
  position: absolute;
  
  z-index:3;
}
  
/*提出ボタン*/
.form-submit{  
  position: absolute;

  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 590px;
  padding-left: 520px;

  z-index:6;
}
  
/*出力部背景画像*/
.hukidashi{
  position: absolute;
  user-select: none;
  pointer-events: none;
   
  width: 100%;
  top: 0px;
  left: 0px;

  z-index: 0;

}
  
/*出力フォーム*/
.hachi_output{
  position: absolute;
  height: 400px;
  width: 700px;
  
  bottom: 230px;
  left:465px;

  z-index: 7;
}

/*スクロール禁止*/
body{ 
  overflow: hidden;
}