{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>HACHI</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'sample.css' %}">
    <script src="{% static 'gptapp/sample.js' %}"></script>
</head>

<body>
    <!-- 背景画像 -->
    <img src="{% static 'gptapp/grid.png' %}" class="grid">
    <img src="{% static 'gptapp/map.png' %}" class="map">


    <!-- 左上の画像 -->
    <img src="{% static 'gptapp/rogo_circle.png' %}" class="rogo_circle">
    <img src="{% static 'gptapp/HACHI.png' %}" class="hachi">

    <!-- フレーム -->
    <img src="{% static 'gptapp/frame.png' %}" class="frame">

    <!-- フォーム背景 -->
    <img src="{% static 'gptapp/form_part.png' %}" class="form_part">

    <!-- 入力フォーム背景 -->
    <img src="{% static 'gptapp/form.png' %}" class="form">

    <!-- 入力フォーム -->
    <form action="" method="post" class="chat-form">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- 送信ボタン -->
        <button type="submit" class="form-submit"><img src="{% static 'gptapp/button.png' %}" width="100px" height="90px"></button>
    </form>

    <!-- 出力画像 -->
    <img src="{% static 'gptapp/hukidashi.png' %}" class="hukidashi">

    <!-- 出力テキスト -->
    {% if chat_response %}
        <section class="chat-response">
            <p class="hachi_output">{{ chat_response }}</p>
        </section>
    {% endif %}


<!--
    <div class="center-box">
        <h1>質問かい?勉強してるんだね!偉いぞ!!</h1>
    <div>
​
    <script>
        document.body.onclick = function() {
            const h1 = document.querySelector("h1");
            h1.innerHTML = "今日の目標は3問!さあ!一緒に頑張ろう!";
        };
    </script>
-->
</body>

</html>